@charset "UTF-8";



/* Generellt */
body {
    background-image: url(../bilder/Nöjespark.jpg);
    background-size: cover;
    background-color: #ae7381;
    /* background: linear-gradient(90deg, rgb(238, 225, 167) 0%, rgb(177, 173, 163) 56%, rgb(247, 243, 246) 100%); */
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;              /*  GÖR SÅ ATT MAN INTE KAN SKROLLA */
}

a {
    color: inherit;
}

:root {
    scrollbar-color: rgba(117, 6, 6, 0.719) rgba(0, 0, 0, 0.425) !important;
    scrollbar-width: thin !important;  
    scroll-behavior: smooth;
}













/*HEADER */

.header {
    z-index: 1000;
    position: sticky;
    top: 0;
    padding-left: 15px;
    background-color: #3A1F1F;
}

.header ul {
    margin:0;
    padding:0;
    overflow:hidden;
}

.header li {
    display: inline-flex;
    float: left;
}

.header a {
    background-color: #fbedf0;
    width: auto;
    height: 75px;
}

.header a:hover {
    background-color: #ae7381;
}

.header img {
    height: 100%;
    width: 100%;
}

.aktiv a{
    background-color: #ae7381 !important;
}







/*CSS första sidan*/

#firstPage h1 {
    font-size: 40px;
    margin-top: 500px;
    color: white;
}

#firstPage {
    background-image: url(../bilder/förstasida.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../bilder/förstasida.jpg);
    height: 100vh;
}











/* Index */

#indexDiv p {
    font-size: 2vw;
    margin: 8vw;
    color: white;
    margin-left: 450px;
    margin-right: 450px;
}

#indexBody {
    background-image: url(../bilder/andrasida.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../bilder/andrasida.jpg);
    height: 100vh;

}















/* Start */

#choice div {
    position: fixed;
    height: 100%;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#one {
    left: 0;
    background-color: #9a7575;
    width: 50%;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../bilder/Nöjespark.jpg);
}

#two {
    right: 0;
    background-color: #9c5858;
    width: 50%;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../bilder/restaurang.jpg);
}

#three {
    background-color: #692323;
    right: 0%;
    clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
    width: 0%;
}

#progress {
    position: fixed;
    bottom: 0%;
    left: 30%;
    width: 40%;
    height: 10%;

    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

#progress div {
    clip-path: circle(40% at 50% 50%);
    display: inline-block;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: black;
    background-size: cover;
}

#choice p, #choice h3 {
    position: relative;
    top: 30%;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 2vw;
}

#three p, #three h3 {
    top: 65%;
}

#tillbaka {
    z-index: 50000;
    position:absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
    background-color: #3a1f1f;
    width: 10vw;
    height: 10vh;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-top: 2vw;
    padding-right: 5vw;
}










/* Valt */

#extraInfo div {
    margin-right: 2.5vw;
}

#extraInfo h3 {
    font-size: xx-large;
}

.comment {
    width: 100%;
    padding: 1 vw;
    min-height: 8vw;
    display: block;
    border-top: 1px solid black;
}

.comment:first-child {
    border: none;
}

.comment img {
    padding-top: 1vw;
    width: 5vw;
    height: 5vw;
    float: left;
}

.comment p {
    padding-left: 6vw;
}

#res {
    color: #fbedf0;
}


/* SYNS INTE JUST NU -------------------------------------------------------------------------------------------------------------------------------------------- */
#goBack {
    position: absolute;
    left: 111116%;
    top: 10%;
    /*
    width: 10%;
    height: 8%;
    */


    font: xx-large;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

#stepElement {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    font-size: large;
    /*background-color: #9c5858;*/
    width: 47vw;
    padding-left: 3vw;
}

#stepElement div {
    margin-bottom: 1vh;
    padding: 1vw;
    padding-left: 3vw;
    background-color: #fbedf0;
    text-align: left;
    width: 43.01vw;
}

#stepElement h2 {
    background-color: red;
}

#stepElement .error {
    background-color: red;
    margin-bottom: 1vh;
    width: 100%;
    padding: 0vw;
    text-align: center;
}

.GamerGirlsDefyGravity {
    position:absolute;
    top: 12vh;
    padding: 0 !important;
    background-color: transparent !important;
}

.GamerGirlsDefyGravity .buttonR {
    background-color: #692323;
    font-size: 20px;
    margin-right: 1vw;
}

.GamerGirlsDefyGravity .buttonR:hover {
    background-color: #9a7575;
}

#stepElement .error:hover {
    background-color: red;
}

#stepElement div:hover {
    background-color: #c9c9c9;
}

#stepElement h1 {
   float: left;
   padding-left: 1vw;
}

.vald {
    background-color: #ae7381 !important;
}

#extraInfo {
    padding-left: 2vw;
    margin-right: 3vw;
    float: right;
    right: 0;
    width: 45vw;
    background-color: #ae7381;
    height: 83vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: scroll;
    font-size: 20px;
    font-weight: 200;
}

#map {
    /*
    position: absolute;
    bottom: 5vh;
    right: 3vw;
    */
    width: 42vw;
    height: 16vw;
}

#extraInfo h1 {
    border-bottom: 2px solid black;
    font-size: 35px;
    
}

.sexmaskinenSigvardFjante + div,.sexmaskinenSigvardFjante + div div {
    position: absolute;
    left: 200% !important;
    height: 0 !important;
    width: 0 !important;
    opacity: 0 !important;
}

.sexmaskinenSigvardFjante + div #map {
    position: relative;
}

/*
#stepElement div{
    grid-area: b;
    padding: 9px;
    margin: 40px;
    overflow-y: auto;
    background-color: white;
    outline: thick solid black;
    width: 40%;
    height: 230%;
    text-size-adjust: auto;
    font-weight: 200;
    font-style: italic;
    line-height: 1.0;
    word-wrap: break-word;
    text-align: left;
}
*/

/*
#extraInfo  {
    background-color: white;
    outline: thick solid black;
    position: absolute;
    left: 1000px;
    top: 300px;
    width: 30%;
    height: 60%;
    font-size: 25px;
    font-style: italic;
    word-wrap: break-word;
    padding-left: 15px;
    overflow-y: scroll;
}
*/













/*dejtingtips*/

#notesDiv div {
    position: absolute;
    margin-right: 30px;
    font-family: 'Brush Script MT', cursive;
}

#notesDiv {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    
    
}

#notesDiv img {
    height: 35vh;
    width: 50vh;
    padding:5px;
}

.div3 {
    top: 4vw;
    right: 0vw;
}

.div4 {
    top: 20vw;
    right: 17vw;
}
   
.div5 {
    top: 60vh;
    right: 35vw;
}

.div6 {
    top: 15vh;
    right: 70vw;
}

.div7 {
    top: 20vh;
    right: 50vw;
}

.div9 {
    top: 60vh;
    right: 70vw;  
   
}

.p9 {
    position:absolute;
    bottom: 200px;
    right: 150px;
    font : bold 25px arial;
    text-align:center;
    width: 250px;
}












/* Hjulet */

#container {
    width: 30vw;
    height: 30vw;
    background-color: #3A1F1F;
    border-radius: 50%;
    border: 1vw solid #3A1F1F;
    position: absolute;
    background-image:url(../bilder/texture.png);
    background-size: contain;
    position: absolute;
    right: 10vw;
    top: 20vh;
}

#spin {
    z-index: 100;
    position: absolute;
    top: 50vh;
    right: 43vw;
    width: 11vw;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 5px;
	background: #6b1702;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
}

#spin:hover {
    transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

#wheelBody {
    background-image:url(../bilder/wheel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../bilder/wheel.jpg);
    height: 100vh;
}

#wheelText {
    width: 40vw;
    height: 65vh;
    color: white;
    font-size: xx-large;
    margin: 3vw;
    overflow: auto;
}

#wheeldescription {
    font-size: 40px;
    color: white;
    margin:0 auto;
}























/* KNAPPAR */

 /* Knapp 1, Stor , sätt class till "button" */

 .button {
    background: black;
    border-radius: 25px;
    border: 2px solid #0f0f0f;
    color: white;
    padding: 20px;
    width: 300px;
    height: 100px;
    font-size: 30px;
    text-align:center;
    text-decoration: none;
    margin: 0 auto;
    display:block;
    transition: 500ms;
}

/*                             Jag tror inte :after gör något här, men jag kan ha fel //Idioten
.button:after {
    content: '';
	position: absolute;
	transform: translateX(-55px) translateY(-40px);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 0px 0px 50px transparent;
	transition: 500ms;
}
*/

.button:hover {
    transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}














/*
.spinbutton {
    z-index: 100;

    width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 5px;
	background: #ffc421;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
}

.spinbutton:hover {
    transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}
*/


















/* Knapp 2, sexig, sätt class till "sexybutton" och lägg texten i en <span> tagg. Sätt också ett attribut efter classen:   data-sm-link-text="CLICK"   där CLICK är texten som visas då man hovrar */

.sexybutton {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #000;
    outline: solid  2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
    background-color: white;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    line-height: 45px;
    max-width: 160px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.sexybutton::before,
.sexybutton span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}

.sexybutton:hover{
    background-color: #000;
    text-decoration: none;
}

.sexybutton:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}

.sexybutton::before{
  content: attr(data-sm-link-text);
	color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}

.sexybutton:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}












.buttonR{
    background-color: black;
    font-weight: bold;
    color: white;
    border: #000;
    border-radius: 0.5vw;
    height: 40px;
    cursor: pointer;
}

.buttonR:hover {
    background-color:#333333;
}
















/* Media queries*/

@media screen and (max-width: 550px) {
   .header li{
       flex-direction:column;
   } 
   .header img {
       height: 0px;
       width: 0px;
   }
   .header a {
       padding: 0 auto;
       flex-direction: column;
       align-items: center;
       width: 100%;
   }
   .header {
       padding-left: 0px;
       height: 200px;
   }

   .header ul {
       width: auto;
       flex-direction:column;
   }

}