@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

#one {
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
    width: 50%;
    height: 100%;
}

#two {
    position: fixed;
    top: 0;
    right: 0;
    background-color: blueviolet;
    width: 50%;
    height: 100%;
}
#three {
    background-color: palevioletred;
    position: fixed;
    right: 0%;
    top: 0%;
    clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
    width: 0%;
    height: 100%;
}

#progress {
    position: fixed;
    bottom: 0%;
    left: 25%;
    width: 1000px;
    height: 10%;
    background-color: rgb(85, 85, 85);
    /*clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);*/
}

#progress div {
    clip-path: circle(40% at 50% 50%);
    display: inline-block;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: black;
}

#one p, #one h3, #two p, #two h3 {
    position: relative;
    top: 35%;
    text-align: center;
    color:white;
    font-size: xx-large;
}

#three p, #three h3 {
    position: relative;
    top: 65%;
    text-align: center;
    color:white;
    font-size: xx-large;
}