@charset "UTF-8";



/* Generellt */
body {
    background-image: url(../bilder/Nöjespark.jpg);
    background-size: cover;
    background-color: #ae7381;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}

a {
    color: inherit;
}

:root {
    scrollbar-color: rgba(117, 6, 6, 0.719) rgba(0, 0, 0, 0.425) !important;
    scrollbar-width: thin !important;  
    scroll-behavior: smooth;
}













/*HEADER */

.header {
    z-index: 1000;
    position: sticky;
    top: 0;
    padding-left: 15px;
    background-color: #3A1F1F;
}

.header ul {
    margin:0;
    padding:0;
    overflow:hidden;
}

.header li {
    display: inline-flex;
    float: left;
}

.header a {
    background-color: #fbedf0;
    width: auto;
    height: 75px;
}

.header a:hover {
    background-color: #f5b0c0;
}

.header img {
    height: 100%;
    width: 100%;
}

.aktiv a{
    background-color: #ae7381 !important;
}







/*CSS första sidan*/

#firstPage h1 {
    font-size: 40px;
    margin-top: 50vh;
    color: white;
}

#firstPage {
    background-image: url(../bilder/förstasida.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../bilder/förstasida.jpg);
    height: 100vh;
}











/* Index */

#indexBody p {
    font-size: 2vw;
    margin: 8vw;
    color: white;  
}

#indexBody {
    background-image: url(../bilder/andrasida.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../bilder/andrasida.jpg);
    height: 100vh;
}















/* Start */

#choice div {
    position: fixed;
    height: 100%;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#one {
    left: 0;
    background-color: #9a7575;
    width: 50%;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../bilder/Nöjespark.jpg);
}

#two {
    right: 0;
    background-color: #9c5858;
    width: 50%;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../bilder/restaurang.jpg);
}

#three {
    background-color: #692323;
    right: 0%;
    clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
    width: 0%;
}

#progress {
    position: fixed;
    bottom: 50px;
    left: 50vw;
    margin-left: -300px;
    width: 600px;
    height: 10%;
}

#progress div {
    clip-path: circle(40% at 50% 50%);
    display: inline-block;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: black;
    background-size: cover;
}

#choice p, #choice h3 {
    position: relative;
    top: 30%;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 2vw;
}

#three p, #three h3 {
    top: 65%;
}

#tillbaka {
    z-index: 50000;
    position:absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
    background-color: #3a1f1f;
    width: 200px;
    height: 50px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-top: 20px;
    padding-right: 90px;
    
}










/* Valt */

#extraInfo div {
    margin-right: 2.5vw;
}

#extraInfo h3 {
    font-size: xx-large;
}

.comment {
    width: 100%;
    min-height: 8vw;
    display: block;
    border-top: 1px solid black;
}

.comment:first-child {
    border: none;
}

.comment img {
    padding-top: 1vw;
    width: 5vw;
    height: 5vw;
    float: left;
}

.comment p {
    padding-left: 6vw;
}

#res {
    color: #fbedf0;
}

#stepElement {
    font-family: Helvetica, sans-serif;
    float: left;
    font-size: large;
    width: 47vw;
    padding-left: 3vw;
    height: calc(100vh - (50px + 75px));
    overflow: auto;
}

#stepElement div {
    margin-bottom: 1vh;
    padding: 0.1vw;
    background-color: #fbedf0;
    text-align: left;
    width: 46.8vw;
}

#stepElement p, #stepElement h3 {
    padding-left: 42px;
}

#stepElement h2 {
    background-color: #692323;
    color: white;
}

#stepElement h4 {
    float: right;
}

#stepElement .error {
    background-color: #692323;
    margin-bottom: 1vh;
    width: 100%;
    padding: 0vw;
    text-align: center;
    color: white;
}

#sortBtn {
    position: absolute;
    top: 100px;
    padding: 0;
    margin-left: 3vw;
}

#sortBtn .buttonR {
    background-color: #692323;
    color: white;
    font-size: 20px;
    margin-right: 1vw;
}

#sortBtn .buttonR:hover {
    background-color: #9a7575;
}

#stepElement .error:hover {
    background-color:#692323;
}

#stepElement div:hover {
    background-color: #c9c9c9;
}

#stepElement h1 {
   float: left;
   padding-left: 10px;
}

.vald {
    background-color: #DB93A2 !important;
}

#extraInfo {
    padding-left: 2vw;
    margin-right: 3vw;
    float: right;
    right: 0;
    width: 45vw;
    background-color: #DB93A2;
    height: calc(100vh - (50px + 75px));
    font-family: Helvetica, sans-serif;
    overflow-y: auto;
    font-size: 20px;
    font-weight: 200;
}

#map {

    width: 42vw;
    height: 16vw;
}

#extraInfo h1 {
    border-bottom: 2px solid black;
    font-size: 35px;
    
}

.closeDivs + div,.closeDivs + div div, .closeDivs + div h3, .closeDivs + div div p, .closeDivs + div p, .closeDivs + div h4, .closeDivs + div div img {
    position: absolute;
    font-size: 0 !important;
    left: 0 !important;
    height: 0 !important;
    width: 0 !important;
    opacity: 0 !important;
}

.closeDivs + div #map {
    position: relative;
}










/*dejtingtips*/

#notesDiv {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 75px);
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
}

#notesDiv img {
    height: 35vh;
    width: 50vh;
    padding-top: 50px;
}

#notesDiv img:hover{
    transform: scale(1.25);
    transition: transform 1s;
}















/* Hjulet */

#container {
    overflow: hidden;
}

#container div {
    width: 30vw;
    height: 30vw;
    background-color: #3A1F1F;
    border-radius: 50%;
    border: 1vw solid #3A1F1F;
    position: absolute;
    background-image:url(../bilder/texture.png);
    background-size: contain;
    right: 10vw;
    top: 20vh;
}

#spin {
    z-index: 100;
    position: absolute;
    top: 50vh;
    right: 43vw;
    width: 11vw;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
    font-family: Helvetica, sans-serif;
	letter-spacing: 5px;
	background: #6b1702;
    color:white;
    border: 1px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
}

#spin:disabled {
    color: #6b1702;
}

#spin:hover {
    transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

#wheelBody {
    background-image:url(../bilder/wheel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../bilder/wheel.jpg);
    height: 100vh;
}

#wheelText {
    width: 40vw;
    height: 65vh;
    color: white;
    font-size: xx-large;
    margin: 3vw;
    overflow: auto;
}

#wheeldescription {
    font-size: 40px;
    color: white;
    margin:0 auto;
}












/* KNAPPAR */

/* Knapp 1, Stor , sätt class till "button" */

.button {
    background:#692323;
    border-radius: 25px;
    border: 2px solid #0f0f0f;
    color: white;
    padding: 20px;
    width: 300px;
    height: 100px;
    font-size: 30px;
    text-align:center;
    text-decoration: none;
    margin: 0 auto;
    display:block;
    transition: 500ms;
}

.button:hover {
    transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}
































/* Knapp 2, sexig, sätt class till "startknapp" och lägg texten i en <span> tagg. Sätt också ett attribut efter classen:   data-sm-link-text="CLICK"   där CLICK är texten som visas då man hovrar */

.startknapp {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #000;
    outline: solid  2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
    background-color: white;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    line-height: 45px;
    max-width: 160px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.startknapp::before,
.startknapp span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}

.startknapp:hover{
    background-color: #000;
    text-decoration: none;
}

.startknapp:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}

.startknapp::before{
  content: attr(data-sm-link-text);
	color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}

.startknapp:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}












.buttonR{
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    color: white;
    border: #000;
    border-radius: 0.5vw;
    height: 40px;
    cursor: pointer;
}

.buttonR:hover {
    background-color:#333333;
}
















/* Media queries            Sidan är anpassad till minst 320 pixlar, telefoner med mindre skärmar är sälsynta i vår målgrupp*/
@media screen and (max-width: 1200px) {
    #container div{
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
        right: 7vw;
        top: 20vh;
    }

    #spin {
        top: 55vh;
        right: 17vw;
        width: 12vw;
        height: 5vh;
        font-size: 2vw;
    }

    #wheelText {
        width: 55vw;
        height: 80vh;
        font-size: xx-large;
    }

    #wheeldescription {
        font-size: 30px;
        margin: 0 auto;
    }

    #choice p, #choice h3 {
        font-size: 4vw;
    }

    #map {
        height: 30vw;
    }
}


@media screen and (max-width: 1000px) {
    #indexBody p {
        font-size: 5vw;
    }
}

@media screen and (max-width: 900px) {
    #wheelBody {
        position: relative;
        display: grid;
        grid-template-areas: 
            "H H"
            "A A"
            "B C"
            "B D";
        grid-template-rows: 75px 40px 40vh auto;
        grid-template-columns: 60vw 40vw;
        overflow: hidden;
    }
    
    #container div {
        position: relative;
        top: inherit;
        right: inherit;
        grid-area: C;
        overflow: hidden !important;
        margin:auto;
    }

    #spin {
        margin:auto;
        position: relative;
        grid-area: D;
        top: inherit;
        right: inherit;
        width: 30vw;
        height: 10vh;
        font-size: xx-large;
    }

    #wheelText {
        top: inherit;
        right: inherit;
        position: relative;
        grid-area: B;
        height: auto;
    }

    #wheeldescription {
        position: relative;
        grid-area: A;
    }

    .header {
        grid-area: H; 
    }

    #tillbaka {
        padding-top: 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    #sortElement {
        overflow: auto;
        display: grid;
        grid-template-areas: 
            "H H"
            "A S"
            "B B"
            "C C"
        ;
        grid-template-columns: 50vw 50vw;
    }

    #res {
        grid-area: A;
        text-align: left;
        margin-left: 100px;
    }

    #stepElement {
        grid-area: B;
        width: 95vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
    }

    #stepElement h1 {
        margin-left: 10px;
    }

    #stepElement h4 {
        padding-right: 10px;
    }

    #stepElement div {
        margin: 0;
        margin-bottom: 1vh;
        padding: 0;
        width: 50%;
        border-left: 1px solid black;
        box-sizing: border-box;
    }

    #extraInfo {
        margin-left: 3vw;
        margin-left: 3vw;
        width: 93vw;
        grid-area: C;
    }

    #sortBtn {
        position: relative;
        height: 45px;
        top: 25px;
        grid-area: S;
        margin-left: 0;
        white-space: pre;
    }
    
    #map {
        width: 100%;
        height: 50vw;
    }
}

@media screen and (max-width: 660px) {
    #wheelBody {
        grid-template-rows: 75px 80px 30vh auto;
    }
}

@media screen and (max-width: 600px) {
    #sortElement {
        grid-template-areas: 
            "H"
            "A"
            "S"
            "B"
            "C"
        ;
        grid-template-columns: 100vw;
    }

    #sortBtn {
        top: -5px;
        margin-left: 0;
    }

    #res {
        text-align: center;
        margin-left: 0;
    }

    #stepElement div {
        width: 100%;
        padding: 0;
        border: none;
    }

    #stepElement h4 {
        padding-right: 10px;
    }

    #notesDiv img {
        margin: 0;
        margin-left: -20vw;
        width: 140vw;
        height: auto;
    }
}

@media screen and (max-width: 550px) {
    .header a {
       padding: 0;
       height: auto;
    }

    .header img {
        height: 100%;
        max-width: 33vw;
    }

    .header {
        padding: 0;
    }

    #indexBody p {
        font-size: 8vw;
    }

    .button {
        width: 80vw;
    }

    #wheelText {
        font-size: x-large;
    }

    #notesDiv {
        height: 95vh;
    }
}

@media screen and (max-width: 493px) {
    #firstPage h1 {
        margin-top: 25vh;
    }

    #wheelBody {
        height: auto;
        overflow-y: auto;
        grid-template-areas: 
            "H"
            "A"
            "C"
            "D"
            "B";
        grid-template-rows: auto auto 40vh auto 50vh;
        grid-template-columns: 100vw;
    }

    #container div {
        align-self: center;
        width: 60vw;
        height: 60vw;
    }

    #spin {
        width: 60vw;
    }

    #wheelText {
        width: 95vw;
    }

    #one, #two {
        width: 100vw;
        height: 45vh !important;
    }

    #choice p, #choice h3 {
        top: 10%;
        font-size: 8vw;
    }

    #two {
        top: 45vh !important;
    }

    #progress {
        background-color: #3a1f1f;
        height: 10vh;
        width: 100vw;
        margin: 0;
        bottom: 0;
        left: 0;
    }

    #progress div {
        width: 18vw;
        height: 18vw;
        bottom: 2px;
    }
}

@media screen and (max-width: 430px) {
    #wheelBody {
        grid-template-rows: auto auto 65vw auto 50vh;
    }
}