@charset "UTF-8";

body {
    margin: 0px;
    font-family: 'Lato';
    background: rgb(2,0,36);
    background: rgb(65,4,102);
    background: linear-gradient(90deg, rgba(65,4,102,1) 0%, rgba(224,45,196,1) 62%, rgba(172,50,167,1) 94%);
    color:#fff;
  }
  ul.main{
      padding: 30px;
  }
  
  *{
    margin:0;
    padding:0;
  }
  
  h2 {
    font-weight: bold;
    font-size: 2rem;
  }
  p {
    font-family: 'Reenie Beanie';
    font-size: 2rem;
  }
  ul,li{
    list-style:none;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
  }
  
  ul li:nth-child(even) a{
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  ul li:nth-child(3n) a{
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
  ul li:nth-child(5n) a{
    transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  
  ul li a:hover,ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
  }
  
  ul li{
    margin:1em;
  }
  
  
  
  
  .header {
      display: flex;
      position: sticky;
      top: 0;
      padding: 10px;
      padding-left: 15px;
      background-color: #55054e;
      border: 2px solid #000000;
  }
  
  .header ul {
      list-style-type: none;
      margin:0;
      padding:0;
      overflow:hidden;
  }
  
  .header li {
  float:left;
  width: 200px;
  }
  
  .header li a {
      display:block;
      color:rgb(3, 3, 3);
      text-align: right;
      padding:14px 16px;
      text-decoration: none;
  }
  
  .header a:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      border-style:black ;
    }
  
  .header a {
      background-color: purple;
      border-radius: 0px;
      border: 2px solid #0f0f0f;
      width: 160px;
      height: 45px;
      font-size: 25px;
      display:block;
  }
  
  img {
      height: 40px;
      width: 40px;
      padding-right: 50px;
      
  }