*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

span {
    clip-path: polygon(100% 0, 0 50%, 0 0);
}

#container{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 50%;
    border: 15px solid #dde;
    position: relative;
    overflow: hidden;
    transition: 5s;
}

#container div{
    height: 50%;
    width: 200px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform-origin:bottom ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    left: 140px;
}

#container .one{
    background-color: blue;
    left: 50%;
}
#container .two{
    background-color: orange;
    transform: rotate(45deg);
}
#container .three{
    background-color: pink;
}
#container .four{}
#container .five{}
#container .six{}
#container .seven{}
#container .eight{}
